body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	color: #3d464d;
	background: #7083ec;
}

.wrapers {
	margin-bottom: 100px;
}

thead {
	font-size: 15px;
	background: rgb(247, 247, 247);
}

a {
	color: #3d464d;
}

li a {
	color: #333;
}

li a:hover {
	color: #c2c7cc;
	text-decoration: none;
}

input:checked ~ span::after {
	display: block;
}

.slick-prev,
.slick-next {
	top: 0;
	transform: translate(-25px, -42px);
	width: 40px;
	height: 29px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	fill: #999999;
	padding: 0px;
	margin: 0px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	border-radius: 1.5px;
	background: #f2f2f2;
	transition: all 0.15s ease 0s;
}

.slick-prev {
	transform: translate(1237px, -42px);
}

.slick-next:before,
.slick-prev:before {
	font-family: sans-serif;
	color: #333;
}

.slick-next:hover,
.slick-prev:hover {
	background: #ffd333;
}

.slick-next:focus,
.slick-next:active,
.slick-prev:active,
.slick-prev:focus {
	background: #ffd333;
}

.input-range__label--min,
.input-range__label--max,
.input-range__label-container {
	display: none;
}

.pagination {
	border: 2.4px solid #f5f7f9;
	padding: 14px;
	justify-content: space-between;
	width: 50%;
	border-radius: 7px;
}

.pagination li {
	cursor: pointer;
	border-radius: 7px;
	background: #f5f7f9;
}

.pagination-active {
	background: #1515c7 !important;
	border: 1px solid #1515c7;
	color: #fff;
	border-radius: 7px;
}

.pagination li a {
	padding: 10px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.pagination li a:focus,
.pagination li a:focus {
	outline: none;
}
